<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.minji.crud.board.BoardMapper">

    <insert id="postBoard1">      <!-- 게시글 올리기 첫번째 방법 -->
        INSERT INTO board
        (writer_id, title, contents)
        VALUES
        (#{writerId}, #{title}, #{contents})
    </insert>

    <insert id="postBoard2">       <!-- 게시글 올리기 두번째 방법 -->
        INSERT INTO board
        SET writer_id = #{writerId}
            , title = #{title}
            , contents = #{contents}
    </insert>

    <select id="getBoardOne">       <!-- 게시글 한개만 불러오기 -->
        SELECT board_id AS boardId, writer_id AS writerId, title, contents, created_at AS createdAt, updated_at AS updatedAt
        FROM board
        WHERE board_id = #{boardId}
    </select>

    <select id="getBoardList">       <!-- 게시글 여러개 최신순으로 불러오기 -->
        SELECT board_id AS boardId, writer_id AS writerId, title, contents, created_at AS createdAt, updated_at AS updatedAt
        FROM board
        ORDER BY board_id DESC
    </select>

    <update id="putBoard">       <!-- 게시글 수정하기 -->
        UPDATE board
        <set>
            <if test="title != null and title != ''">
                , title = #{title}
            </if>
            <if test="contents != null and contents != ''">
                , contents = #{contents}
            </if>
        </set>
        WHERE board_id = #{boardId}
    </update>

</mapper>